name: Publish Package

on:
  release:
    types:
      - released
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish:
    permissions:
      contents: read
      id-token: write
    name: Prepare the source code
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: false
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            fulcio.sigstore.dev:443
            github.com:443
            objects.githubusercontent.com:443
            nodejs.org:443
            registry.npmjs.org:443
            rekor.sigstore.dev:443

      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Set up Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          registry-url: https://registry.npmjs.org
          node-version: lts/*
          cache: npm

      - name: Update npm to latest
        run: sudo npm install -g npm@latest

      - name: Run clean install
        run: npm ci

      - name: Publish package
        run: npm publish
